:root {
    --color-background: rgb(220, 220, 220);
    --color-font: rgb(36, 36, 36);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--color-font);
}

body {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;

}

#modeSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section {
    /* la section doit pouvoir se scroller si elle est trop grande**/
    overflow-y: auto;
}

h2 {
    margin-bottom: 10px;
}

.modeBtn {
    width: 150px;
    border-width: 0;
    border-color: black;
    border-radius: 16px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
    padding: 5px;
    margin: 15px;
}

.modeBtn.isActive p {
    color: grey;
}

#mainViewer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0px 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

#pointerSpace {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: row;
    transition: 0.2s;
    width: 200px;
}

#pointerSpace img.isSav {
    margin-left: 0px;
    transition: 0.2s;
}

#pointerSpace img.isRefurb {
    margin-left: 170px;
    transition: 0.2s;
}

.savCard,
.RefurbCard {
    display: flex;
    align-items: center;
    background-color: rgb(223, 185, 185);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.savCard.waitingPiece,
.savCard.waitingOrder,
.refurbCar.waitingPiece,
.refurbCar.waitingOrder {
    background-color: rgb(221, 195, 161);
}

.savCard.inRepair,
.refurbCar.inRepair {
    background-color: rgb(199, 224, 155);
}

.savCard.repaired,
.refurbCar.repaired {
    background-color: rgb(148, 208, 159);
}

.savCard.released,
.refurbCar.released {
    background-color: rgb(157, 213, 213);
}

.savCard p,
.refurbCar p {
    margin-right: 20px;
}