:root {
    --color-background: rgb(220, 220, 220);
    --color-font: rgb(36, 36, 36);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--color-font);
}

body {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    min-height: 100vh;
    overflow-y: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;

}

input,
select {
    padding: 5px
}

#modeSelector,
#updateSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h2 {
    margin-bottom: 10px;
}

.modeBtn,
.updateBtn {
    width: 150px;
    border-width: 0;
    border-color: black;
    border-radius: 16px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
    padding: 5px;
    margin: 15px;
}

.modeBtn.isActive p {
    color: grey;
}

button.actionBtn {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

button.submit {
    margin-top: 30px;
    padding: 10px;
    border-radius: 15px;
}

#mainViewer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0px 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

#pointerSpace {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    ;
    transition: 0.2s;
    width: 200px;
}

#pointerSpace img.isSav,
#pointerSpace img.updateLog {
    margin-left: 0px;
    transition: 0.2s;
}

#pointerSpace img.isRefurb,
#pointerSpace img.updateSAV {
    margin-left: 170px;
    transition: 0.2s;
}

#savLister,
#refurbLister {
    width: 100%;
}

.savCard,
.refurbCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 185, 185);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.cardInfos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.interventionsList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.interventionsList span {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 5px 0px 5px;
}

.statusViewer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.savCard.waitingPiece,
.savCard.waitingOrder,
.refurbCard.waitingPiece,
.refurbCard.waitingOrder {
    background-color: rgb(221, 195, 161);
}

.savCard.inRepair,
.refurbCard.inRepair {
    background-color: rgb(199, 224, 155);
}

.savCard.repaired,
.refurbCard.repaired {
    background-color: rgb(148, 208, 159);
}

.savCard.released,
.refurbCard.released {
    background-color: rgb(157, 213, 213);
}

.savCard p,
.refurbCard p {
    margin-right: 20px;
}

.uiModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    z-index: 100;
}

.uiModalContent {
    width: 90vw;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.uiModalContent p,
.uiModalContent label {
    color: white
}

.uiModalCloseBtn {
    position: absolute;
    top: 1vw;
    right: 1vw;
    padding: 5px;
    background-color: transparent;
    font-size: large;
    color: white;
    cursor: pointer;
}

#modalToUpdateSAV {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h3 {
    margin-bottom: 10px;
    color: white
}

#updateSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#updateSelector button {
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.verticalWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.horizontalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#logLister {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.logCard {
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 5px;
}

.logCard span {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 5px 0px 5px;
}

#interventionsLister {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.interventionCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.interventionCard p {
    text-align: center;
    background-color: rgb(231, 198, 191);
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    color: var(--color-font);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.interventionCard.isDone p {
    background-color: rgb(191, 224, 196);
}


.interventionCard button {
    border-radius: 10px;
    cursor: pointer;
}

#logCreator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border: solid 1px white;
    border-radius: 20px;
    padding: 10px;
}

#modalToUpdateSAV {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#updateSAVInfosForm,
#updateSAVLogForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: solid 1px white;
    border-radius: 20px;
    padding: 20px;
    width: 1000px;
    max-height: 550px;
    overflow-y: auto;
}

/*gestion de la scrollbar des form*/

#updateSAVInfosForm::-webkit-scrollbar,
#updateSAVLogForm::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

#updateSAVInfosForm::-webkit-scrollbar-thumb,
#updateSAVLogForm::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}

#updateSAVInfosForm::-webkit-scrollbar-track,
#updateSAVLogForm::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}