:root {
    --color-background: rgb(220, 220, 220);
    --color-font: rgb(36, 36, 36);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--color-font);
}

body {
    background-color: var(--color-background);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.appBtn {
    border-width: 0;
    border-color: black;
    border-radius: 16px;
    margin: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
}