:root {
    --color-background: rgb(220, 220, 220);
    --color-font: rgb(36, 36, 36);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--color-font);
}

body {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;

}

#modeSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modeBtn {
    width: 150px;
    border-width: 0;
    border-color: black;
    border-radius: 16px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
    padding: 5px;
    margin: 15px;
}

.modeBtn.isActive p {
    color: grey;
}